<div class="page-header">
  <%= link_to new_project_scenario_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    <%= t('view.New Project') %>
  <% end %>
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    <%= t('view.Back') %>
  <% end %>
  <h3><%= t('view.Listing scenarios') %></h3>
  <h4><%= t('view.project_name') %>: <%= @project.project_name %></h4>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th><%= t('view.scenario_no') %></th>
            <th><%= t('view.scenario_name') %></th>
            <th><%= t('view.description') %></th>
            <th><%= t('view.count_item') %></th>
            <th><%= t('view.count_item_target') %></th>
            <th><%= t('view.count_remaining') %></th>
            <th><%= t('view.count_ok') %></th>
            <th><%= t('view.count_ng') %></th>
            <th colspan="2">Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @scenarios) do |scenario| %>
            <td><%= scenario.scenario_no %></td>
            <td><%= link_to scenario.scenario_name, scenario %></td>
            <td><%= scenario.description %></td>
            <td><%= scenario.count_item %></td>
            <td><%= scenario.count_item_target %></td>
            <td><%= scenario.count_remaining %></td>
            <td><%= scenario.count_ok %></td>
            <td><%= scenario.count_ng %></td>
            <td><%= link_to 'Edit', edit_scenario_path(scenario) %></td>
            <td><%= link_to 'Destroy', scenario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
